<header {% if page.type %}class="{{ page.type }}--header"{% endif %}>
    <div class="row">
        <div class="col col-three">
            <h1>Grid Builder</h1>
        </div>

        <div class="col col-three">
            <a href="https://jeremenichelli.github.io/labs" class="logo">
                <img src="/assets/img/logo.png" class="logo--name" alt="Jeremias Menichelli"
                    onerror="this.className = this.className + ' error'">
                <span class="logo--job">Labs</span>
            </a>
        </div>
    </div>
</header>
